In [1]:
import pandas as pd 
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [2]:
ld_train=pd.read_csv('/Users/lalitsachan/Dropbox/0.0 Data/loan_data_train.csv')

In [3]:
ld_test=pd.read_csv('/Users/lalitsachan/Dropbox/0.0 Data/loan_data_test.csv')

In [4]:
ld_train

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,74047.0,30000,30000,23.28%,60 months,other,12.10%,IL,MORTGAGE,7083.33,675-679,16,17969,1.0,10+ years
2196,63768.0,4200,4200,14.33%,60 months,car,14.16%,NJ,RENT,3850.00,700-704,4,5718,0.0,2 years
2197,94545.0,19800,19775,15.31%,60 months,debt_consolidation,15.03%,IL,MORTGAGE,6666.67,675-679,10,46879,3.0,6 years
2198,53635.0,18000,18000,20.99%,60 months,credit_card,11.63%,CA,RENT,9051.83,670-674,5,32394,2.0,4 years
2199,67953.0,7550,7550,10.16%,36 months,debt_consolidation,3.83%,CA,MORTGAGE,8333.33,710-714,10,10204,0.0,2 years

In [5]:
ld_train.columns

Index(['ID', 'Amount.Requested', 'Amount.Funded.By.Investors', 'Interest.Rate',
       'Loan.Length', 'Loan.Purpose', 'Debt.To.Income.Ratio', 'State',
       'Home.Ownership', 'Monthly.Income', 'FICO.Range', 'Open.CREDIT.Lines',
       'Revolving.CREDIT.Balance', 'Inquiries.in.the.Last.6.Months',
       'Employment.Length'],
      dtype='object')

# 'ID' : ignore 
# 'Amount.Funded.By.Investors' : ignore 
# 'Interest.Rate' : ignore

# 'Amount.Requested' : convert to numeric , missing values
# 'Open.CREDIT.Lines' : convert to numeric , missing values
# 'Revolving.CREDIT.Balance' : convert to numeric , missing values


# 'Loan.Length' : missing values , create dummies with freq cutoff 1% or 250 of the data
#  'Loan.Purpose' : missing values , create dummies with freq cutoff 1% or 250 of the data
# 'State' : missing values , create dummies with freq cutoff 1% or 250 of the data
# 'Home.Ownership' : missing values , create dummies with freq cutoff 1% or 250 of the data

# 'Debt.To.Income.Ratio' : custom_func , missing values
# 'FICO.Range' : custom_func , missing values
# 'Employment.Length' : custom_func , missing values

# 'Monthly.Income' : missing values handling 
# 'Inquiries.in.the.Last.6.Months' : missing values handling 


# var selector , missing values , custom func , dummies , conver to numeric

In [7]:
ld_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2199 non-null   float64
 1   Amount.Requested                2199 non-null   object
 2   Amount.Funded.By.Investors      2199 non-null   object
 3   Interest.Rate                   2200 non-null   object
 4   Loan.Length                     2199 non-null   object
 5   Loan.Purpose                    2199 non-null   object
 6   Debt.To.Income.Ratio            2199 non-null   object
 7   State                           2199 non-null   object
 8   Home.Ownership                  2199 non-null   object
 9   Monthly.Income                  2197 non-null   float64
 10  FICO.Range                      2200 non-null   object
 11  Open.CREDIT.Lines               2196 non-null   object
 12  Revolving.CREDIT.Balance        2197 non-null   object
 13  Inquiries.in.the.Last.6.Months  2197 non-null   float64
 14  Employment.Length               2131 non-null   object
dtypes: float64(3), object(12)
memory usage: 257.9+ KB

In [8]:
ld_train['Amount.Requested']

0       25000
1       19750
2        2100
3       28000
4       24250
        ...
2195    30000
2196     4200
2197    19800
2198    18000
2199     7550
Name: Amount.Requested, Length: 2200, dtype: object

In [9]:
ld_train['Loan.Length'].value_counts(dropna=False)

36 months    1722
60 months     476
NaN             1
.               1
Name: Loan.Length, dtype: int64

In [10]:
ld_train['Loan.Purpose'].value_counts(dropna=False)

debt_consolidation    1147
credit_card            394
other                  174
home_improvement       135
major_purchase          84
small_business          80
car                     45
wedding                 35
medical                 26
moving                  25
house                   19
vacation                18
educational             14
renewable_energy         3
NaN                      1
Name: Loan.Purpose, dtype: int64

In [11]:
ld_train['Debt.To.Income.Ratio']

0       27.56%
1       13.39%
2        3.50%
3       19.62%
4       23.79%
         ...
2195    12.10%
2196    14.16%
2197    15.03%
2198    11.63%
2199     3.83%
Name: Debt.To.Income.Ratio, Length: 2200, dtype: object

In [12]:
def dir_percent(dir_percent):
    
    dir_num=dir_percent.str.replace('%',"")
    dir_num=pd.to_numeric(dir_num,errors='coerce')
    return dir_num

In [13]:
ld_train['State'].value_counts(dropna=False)

CA     376
NY     231
FL     149
TX     146
PA      88
IL      87
GA      82
NJ      81
VA      70
MA      64
NC      59
OH      59
MD      59
CO      54
WA      52
CT      44
AZ      44
MI      38
AL      34
MN      30
MO      29
NV      29
SC      27
WI      25
OR      25
KS      21
LA      20
KY      20
OK      20
NH      14
RI      13
UT      13
HI      12
WV      12
NM      12
AR      11
DC       9
AK       8
DE       7
MT       7
VT       5
WY       4
SD       4
IN       3
MS       1
NaN      1
.        1
Name: State, dtype: int64

In [14]:
ld_train['Home.Ownership'].value_counts(dropna=False)

MORTGAGE    1018
RENT         999
OWN          177
OTHER          4
NaN            1
NONE           1
Name: Home.Ownership, dtype: int64

In [15]:
ld_train['FICO.Range'].value_counts(dropna=False)

670-674    151
675-679    144
680-684    141
695-699    138
665-669    129
690-694    127
705-709    117
685-689    116
700-704    115
720-724    107
660-664    106
710-714    102
730-734     84
725-729     78
715-719     73
735-739     54
750-754     54
745-749     51
740-744     45
760-764     40
755-759     37
765-769     33
780-784     27
775-779     19
790-794     18
785-789     17
770-774     16
800-804     13
795-799     12
805-809      9
810-814      7
815-819      6
640-644      5
645-649      3
655-659      3
820-824      1
830-834      1
650-654      1
Name: FICO.Range, dtype: int64

In [16]:
ld_train['FICO.Range'].str.split('-',expand=True).astype(int)

        0    1
0     720  724
1     710  714
2     690  694
3     710  714
4     730  734
...   ...  ...
2195  675  679
2196  700  704
2197  675  679
2198  670  674
2199  710  714

[2200 rows x 2 columns]

In [17]:
def fico(fico):
    
    k=fico.str.split('-',expand=True).astype(int)
    
    fico_num=0.5*(k[0]+k[1])
    
    return fico_num

In [18]:
ld_train['Open.CREDIT.Lines']

0       11
1       14
2       13
3       12
4        6
        ..
2195    16
2196     4
2197    10
2198     5
2199    10
Name: Open.CREDIT.Lines, Length: 2200, dtype: object

In [19]:
ld_train['Revolving.CREDIT.Balance']

0       15210
1       19070
2         893
3       38194
4       31061
        ...
2195    17969
2196     5718
2197    46879
2198    32394
2199    10204
Name: Revolving.CREDIT.Balance, Length: 2200, dtype: object

In [20]:
ld_train['Employment.Length'].value_counts(dropna=False)

10+ years    575
< 1 year     229
2 years      217
3 years      203
5 years      181
4 years      162
1 year       159
6 years      134
7 years      109
8 years       95
NaN           69
9 years       66
.              1
Name: Employment.Length, dtype: int64

In [21]:
def el(el):
    
    el=el.str.replace('< 1 year','0')
    el=el.str.replace('10+ years','10',regex=False)
    el=el.str.replace('years','',regex=False)
    el=el.str.replace('year','',regex=False)
    
    el_num=pd.to_numeric(el,errors='coerce')
    
    return el_num

In [22]:
# 'ID' : ignore 
# 'Amount.Funded.By.Investors' : ignore 
# 'Interest.Rate' : ignore

#'Amount.Requested' : convert to numeric , missing values
# 'Open.CREDIT.Lines' : convert to numeric , missing values
# 'Revolving.CREDIT.Balance' : convert to numeric , missing values


# 'Loan.Length' : missing values , create dummies with freq cutoff 1% or 250 of the data
# 'Loan.Purpose' : missing values , create dummies with freq cutoff 1% or 250 of the data
#'State' : missing values , create dummies with freq cutoff 1% or 250 of the data
#'Home.Ownership' : missing values , create dummies with freq cutoff 1% or 250 of the data

#'Debt.To.Income.Ratio' : custom_func , missing values
# 'FICO.Range' : custom_func , missing values
#'Employment.Length' : custom_func , missing values

# 'Monthly.Income' : missing values handling 
# 'Inquiries.in.the.Last.6.Months' : missing values handling

cat_to_dummies=['Loan.Length','Loan.Purpose','State','Home.Ownership']
simple_numeric=['Monthly.Income','Inquiries.in.the.Last.6.Months']
custom_var_dict={'Debt.To.Income.Ratio':dir_percent,'FICO.Range':fico,'Employment.Length':el}
cat_to_numeric=['Amount.Requested','Open.CREDIT.Lines','Revolving.CREDIT.Balance']

In [23]:
import datapipe_utils as dt

In [24]:
mypipe=dt.DataPipe(cat_to_dummies=cat_to_dummies,
                   custom_var_dict=custom_var_dict,
                   simple_numeric=simple_numeric,
                   cat_to_numeric=cat_to_numeric
                  )

In [25]:
mypipe.fit(ld_train)

/Users/lalitsachan/Dropbox/1.Python_Data_Analytics/class_code_notebooks/datapipe_utils.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.loc[:,col]=pd.to_numeric(x[col],errors='coerce')

In [26]:
x_train=mypipe.transform(ld_train)

/Users/lalitsachan/Dropbox/1.Python_Data_Analytics/class_code_notebooks/datapipe_utils.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.loc[:,col]=pd.to_numeric(x[col],errors='coerce')

In [27]:
x_test=mypipe.transform(ld_test)

/Users/lalitsachan/Dropbox/1.Python_Data_Analytics/class_code_notebooks/datapipe_utils.py:88: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.loc[:,col]=pd.to_numeric(x[col],errors='coerce')

In [28]:
x_train

,Loan.Length_36 months,Loan.Length_60 months,Loan.Purpose_debt_consolidation,Loan.Purpose_credit_card,Loan.Purpose_other,Loan.Purpose_home_improvement,Loan.Purpose_major_purchase,Loan.Purpose_small_business,Loan.Purpose_car,Loan.Purpose_wedding,...,Home.Ownership_RENT,Home.Ownership_OWN,Monthly.Income,Inquiries.in.the.Last.6.Months,Amount.Requested,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Debt.To.Income.Ratio,FICO.Range,Employment.Length
0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8606.56,3.0,25000.0,11.0,15210.0,27.56,722.0,5.0
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6737.50,3.0,19750.0,14.0,19070.0,13.39,712.0,4.0
2,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,1000.00,1.0,2100.0,13.0,893.0,3.50,692.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,7083.33,1.0,28000.0,12.0,38194.0,19.62,712.0,10.0
4,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5833.33,2.0,24250.0,6.0,31061.0,23.79,732.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,7083.33,1.0,30000.0,16.0,17969.0,12.10,677.0,10.0
2196,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,3850.00,0.0,4200.0,4.0,5718.0,14.16,702.0,2.0
2197,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6666.67,3.0,19800.0,10.0,46879.0,15.03,677.0,6.0
2198,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,9051.83,2.0,18000.0,5.0,32394.0,11.63,672.0,4.0
2199,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8333.33,0.0,7550.0,10.0,10204.0,3.83,712.0,2.0

In [29]:
x_test

,Loan.Length_36 months,Loan.Length_60 months,Loan.Purpose_debt_consolidation,Loan.Purpose_credit_card,Loan.Purpose_other,Loan.Purpose_home_improvement,Loan.Purpose_major_purchase,Loan.Purpose_small_business,Loan.Purpose_car,Loan.Purpose_wedding,...,Home.Ownership_RENT,Home.Ownership_OWN,Monthly.Income,Inquiries.in.the.Last.6.Months,Amount.Requested,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Debt.To.Income.Ratio,FICO.Range,Employment.Length
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,4416.67,0.0,5000.0,13.0,7686.0,12.59,692.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5258.50,0.0,18000.0,6.0,11596.0,4.93,712.0,10.0
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3750.00,0.0,7200.0,13.0,7283.0,25.16,752.0,6.0
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3416.67,0.0,7200.0,14.0,4838.0,17.27,792.0,10.0
4,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6083.33,0.0,22000.0,9.0,20181.0,18.28,722.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,7083.33,2.0,12000.0,7.0,3923.0,13.91,707.0,7.0
296,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,4000.00,0.0,5000.0,10.0,6023.0,17.22,707.0,10.0
297,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,2916.67,2.0,4375.0,9.0,6944.0,9.09,672.0,6.0
298,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5651.33,0.0,13600.0,13.0,24383.0,12.85,677.0,10.0
299,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5184.75,0.0,6000.0,8.0,14422.0,7.64,677.0,2.0